<template>

    <h2>this is a test</h2>
    <!--<div id="wrapper">
        <img if.bind="hostingParameters.Type == 'STANDALONE'" class="hidden-xs-down beta" src="../images/STANDALONE.png" />
        <img if.bind="hostingParameters.Type == 'CLOUD'" class="hidden-xs-down beta" src="../images/CLOUD.png" />

        <!--<div class="vertical-text">Standalone</div>-->

        <require from="./navigation"></require>
        <navigation router.bind="globalDef.currentRouter"></navigation>

        <div id="page-wrapper" class="clearfix">

            <!-- Loading -->
            <div class="splash" show.bind="isRequesting">
                <div class="message" t="ID_WAIT_WHILELOADING">Please wait...</div>
                <i class="fa fa-spinner fa-spin"></i>
            </div>

            <!-- Page -->
            <div show.bind="!isRequesting">
                <router-view></router-view>
            </div>
        </div>

        <footer class="footer bg-inverse">
            <div class="col-md-3" style="height:22px; text-align: center;">
                <p style="text-align: center">Copyright © 2018 Alphatronics</p>
            </div>

            <div class="col-md-6" style="height:22px;">
                <p class="wrap-text" style="text-align: center" title="${translator.tr('ID_SOFTWARE_VERSION')} ${webVersion ? webVersion :  '0.0.0.0'} ~ ${translator.tr('ID_DB_VERSION')} ${dbVersion ? dbVersion : '0.0.0.0'}">${translator.tr('ID_SOFTWARE_VERSION')} ${webVersion ? webVersion :  '0.0.0.0'} ~ ${translator.tr('ID_DB_VERSION')} ${dbVersion ? dbVersion : '0.0.0.0'}</p>
            </div>

            <div class="col-md-3" style="height:22px;">
                <p style="text-align: center">
                    <a href="http://www.Alphatronics.be" style="color:white;"><i class="fa fa-globe"></i> www.Alphatronics.be</a>
                </p>
            </div>
        </footer>

    </div>-->

</template>