<!DOCTYPE html>
<html>
<head>
    <title>WebApplication1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Force cache refresh-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8" />

    <!-- Stylesheet -->
    <link href="~/Aurelia/styles.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="~/favicon.png" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<!-- Bootstrap aurelia-->
<body aurelia-app="main">
    <script type="text/javascript" src="~/Aurelia/aurelia-bootstrap.bundle.js"></script>
    <script type="text/javascript" src="~/Aurelia/aurelia.bundle.js"></script>
    <script type="text/javascript" src="~/Aurelia/app.bundle.js"></script>
</body>
</html>